.footer-container {
    background-color: black;
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    color: white;
    text-align: left;
    padding-left:200px ;
}
.footer-container .icon {
    width: 5vh; 
    font-size: 40px;
    cursor: pointer;
}
.footer-container .icon > a {
    color: white;
}

